* {
    margin: 0;
}
html, body{
    background-image: url("../images/question-marks.png");
}
#funnyTitle {
    color: #8b008b;

}
.navbar-fixed-bottom{
    color: #eeeeee;
}
.text-muted {
    color: #8b008b;
}